body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4e5752;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.faq-list {
    list-style: none;
    padding: 0;
}

.faq-item {
    margin-bottom: 15px;
}

.question {
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.answer {
    display: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.arrow:hover {
    color: #336699;
}

.arrow:before {
    content: "\25B6";
}
